<h1>プロフィール</h1>
<hr>
<p><span>email: </span><%= @user.email %></p>

<h2>つぶやき内容</h2>
<% @user.tweets.each do |tweet| %>
  <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
  <hr>
<% end %>
<h3>いいねしているつぶやき</h3>
<% @user.liked_tweets.each do |tweet| %>
  <%= tweet.user.email %>
  <%= tweet.content %>
<% end %>